<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detail of <%= plant.name %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <a href="/" class="botton">Home Page</a>
  <h1 class="plants"><%= plant.name %></h1>
  <h2>Details:</h2>
  <p>Type: <%= plant.type %></p>
  <p>sunlight: <%= plant.sunlight %></p>
  <p>water: <%= plant.water %></p>
</body>
</html>